<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div
      class="container-fluid d-flex align-items-center justify-content-between"
    >
      <a
        href="index.html"
        class="logo d-flex align-items-center me-auto me-lg-0"
      >
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img class="img-fluid w-100" src="../assets/img/logo2.png" alt="" />
        <!-- <i class="bi bi-camera"></i> -->
        <h1>AbuWessam</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">الرئيسية</a></li>
          <li><a href="about.html">حول</a></li>
          <li><a href="services.html">معرض</a></li>
          <li><a href="contact.html">تواصل معنا</a></li>
        </ul>
      </nav>
      <!-- .navbar -->

      <div class="header-social-links">
        <a
          href="https://youtube.com/@hhmmhh1976?feature=shared"
          class="youtube"
          target="_blank"
          ><i class="bi bi-youtube"></i
        ></a>
        <a
          href="https://m.facebook.com/profile.php?id=100010930969387"
          class="facebook"
          target="_blank"
          ><i class="bi bi-facebook"></i
        ></a>
        <a href="#" class="instagram"
          ><i class="bi bi-instagram" target="_blank"></i
        ></a>
        <a href="https://wa.me/00966534832008" class="whatsapp" target="_blank"
          ><i class="bi bi-whatsapp"></i
        ></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section
    id="hero"
    class="hero d-flex flex-column justify-content-center align-items-center"
    data-aos="fade"
    data-aos-delay="1500"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>
            I'm <span>Jenny Wilson</span> a Professional Photographer from New
            York City
          </h2>
          <p>
            Blanditiis praesentium aliquam illum tempore incidunt debitis
            dolorem magni est deserunt sed qui libero. Qui voluptas amet.
          </p>
          <a href="contact.html" class="btn-get-started">Available for hire</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main" data-aos="fade" data-aos-delay="1500">
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let image of images">
            <div class="gallery-item h-100">
              <img src="{{ image }}" class="img-fluid" alt="" />
              <div
                class="gallery-links d-flex align-items-center justify-content-center"
              >
                <a
                  href="{{ image }}"
                  title="Gallery"
                  class="glightbox preview-link"
                  ><i class="bi bi-arrows-angle-expand"></i
                ></a>
                <a href="gallery-single.html" class="details-link"
                  ><i class="bi bi-link-45deg"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End Gallery Section -->
  </main>
  <!-- End #main -->
</body>
