<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div
      class="container-fluid d-flex align-items-center justify-content-between"
    >
      <a href="#hero" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img class="logo" src="../assets/img/logo.png" alt="" />
        <!-- <i class="bi bi-camera"></i> -->
        <h1>AbuWessam</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul class="nav">
          <li><a href="#hero" class="active">الرئيسية</a></li>
          <li><a href="#about">من نحن</a></li>
          <li><a href="#gallery">المعرض</a></li>
          <li><a href="#concestUs">تواصل معنا</a></li>
        </ul>
      </nav>
      <!-- .navbar -->

      <div class="header-social-links">
        <a
          href="https://youtube.com/@hhmmhh1976?feature=shared"
          class="youtube"
          target="_blank"
          ><i class="bi bi-youtube"></i
        ></a>
        <a
          href="https://www.facebook.com/people/%D8%A7%D8%A8%D9%88-%D9%88%D8%B3%D8%A7%D9%85-%D9%84%D8%A3%D8%B9%D9%85%D8%A7%D9%84-%D8%A7%D9%84%D8%AC%D8%A8%D8%B3-%D8%A7%D9%84%D9%85%D8%BA%D8%B1%D8%A8%D9%89-%D9%88%D8%A7%D9%84%D8%AC%D8%A8%D8%B3-%D8%A7%D9%85%D8%A8%D9%88%D8%B1%D8%AF-0534832008/100063883244429/"
          class="facebook"
          target="_blank"
          ><i class="bi bi-facebook"></i
        ></a>

        <a href="https://wa.me/00966534832008" class="whatsapp" target="_blank"
          ><i class="bi bi-whatsapp"></i
        ></a>
        <a href="tel:00966534832008" class="phone" target="_blank"
          ><i class="bi bi-telephone-fill"></i
        ></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section
    id="hero"
    class="hero d-flex justify-content-between align-items-center"
    data-aos="fade"
    data-aos-delay="1500"
  >
    <div class="container">
      <div class="row d-flex justify-content-between align-items-center">
        <!-- <img src="../assets/img/master.PNG" alt="" srcset="" /> -->
        <div class="col-lg-6 text-center order-lg-1 order-2 hammed">
          <h2>
            <span> م/حامد ابو وسام </span>
            اعمل في تصميم وتنفيذ اعمال الديكور
          </h2>
          <p>
            ( الجبسن المغربي – الجبسن بورد – عازل الصوت – الفيوتك .... ) وجميع
            انواع الديكورات والاصطمبات اتميز بالدقه واناقة التصميم والتنفيذ مع
            سرعة وانجاز و صنعه على اصولها . عايز بيت انيق ودافي بالتاكيد ابو
            وسام هو الاختيار الامثل .
          </p>
          <a href="#gallery" class="btn-get-started btn_txt">المعـــــــرض</a>
        </div>
        <div
          style="margin: 0 auto"
          class="col-lg-6 order-lg-2 order-1 img-container d-flex justify-content-center"
        >
          <img src="../assets/img/master.PNG" alt="" srcset="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <section id="about">
    <div class="d-flex justify-content-center">
      <h2 class="text-center w-20 mt-5 mb-5">من نحن</h2>
    </div>
    <div
      id="myCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="3000"
    >
      <!-- الأزرار التحكم -->
      <!-- <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->

      <div class="carousel-inner sliders">
        <!-- عناصر العرض -->
        <div class="carousel-item active">
          <img
            src="../assets/img/slider/galleryslider(1).JPG"
            class="d-block w-100 img-fluid"
            alt="Slide 1"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>تصميمات جبسون بورد تضفي الجمال والأناقة على منزلك</h3>
          </div>
        </div>
        <div class="carousel-item active">
          <img
            src="../assets/img/slider/galleryslider(2).JPG"
            class="d-block w-100 img-fluid"
            alt="Slide 2"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>لمسة فنية لتحويل منزلك إلى قصر أحلامك</h3>
          </div>
        </div>
        <div class="carousel-item active">
          <img
            src="../assets/img/slider/galleryslider(3).JPG"
            class="d-block w-100 img-fluid"
            alt="Slide 3"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>استمتع بجمال الأشكال الفنية والديكورات المميزة</h3>
          </div>
        </div>
        <div class="carousel-item active">
          <img
            src="../assets/img/slider/galleryslider(4).JPG"
            class="d-block w-100 img-fluid"
            alt="Slide 4"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>دمج الجبسون بورد في ديكور منزلك لإطلالة راقية ومتألقة</h3>
          </div>
        </div>
        <div class="carousel-item active">
          <img
            src="../assets/img/slider/galleryslider(5).JPG"
            class="d-block w-100 img-fluid"
            alt="Slide 5"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>تصميمات جبسون بورد تضفي الجمال والأناقة على منزلك</h3>
          </div>
        </div>

        <div class="carousel-item active">
          <img
            src="../assets/img/slider/galleryslider(6).JPG"
            class="d-block w-100 img-fluid"
            alt="Slide 1"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>
              استعد للانغماس في عالم الفخامة والأناقة مع أبو وسام للجبسون بورد
            </h3>
          </div>
        </div>
        <div class="carousel-item active">
          <img
            src="../assets/img/slider/galleryslider(7).JPG"
            class="d-block w-100 img-fluid"
            alt="Slide 7"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>
              الحرفية العالية تلتقي بالجمال الفائق. اختر أبو وسام للجبسون بورد
            </h3>
          </div>
        </div>
        <div class="carousel-item active">
          <img
            src="../assets/img/slider/galleryslider(8).JPG"
            class="d-block w-100 img-fluid"
            alt="Slide 8"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>
              قم بتحسين مساحتك التجارية مع أبو وسام للجبسون بورد. ابهر عملائك
              بتصاميم داخلية متقنة.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main id="main" data-aos="fade" data-aos-delay="1500">
    <div class="d-flex justify-content-center">
      <h2 class="text-center w-20 mt-5 mb-5">المعرض</h2>
    </div>
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let image of images">
            <div class="gallery-item h-100">
              <img
                src="{{ image }}"
                class="w-100 shadow-1-strong rounded mb-4"
                alt=""
              />
              <div
                class="gallery-links d-flex align-items-center justify-content-center"
              >
                <a
                  href="{{ image }}"
                  title="Gallery"
                  class="glightbox preview-link"
                  ><i class="bi bi-arrows-angle-expand"></i
                ></a>
                <a href="gallery-single.html" class="details-link"
                  ><i class="bi bi-link-45deg"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End Gallery Section -->
  </main>
  <!-- End #main -->
</body>
