footer {
  box-shadow: 0 0 8px rgba(212, 206, 206, 0.1);
}
h2 {
  font-weight: 900;
  font-size: 60px;
  border-bottom: thin solid #27a776;
}
.Copyrights {
  direction: rtl;
  text-align: right;
}

.Copyrights a {
  color: #27a776;
}
